body,
body * {
    box-sizing: border-box;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container {
    background-color: antiquewhite;
    margin-left: calc(50% - 25%);
    width: 50%;
    border-radius: 10%;
    display: inline-block;
}
.container-child-1 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 7% 0 7% 0;
    background-color: rgba(17, 36, 212, 0.795);
    border-radius: 10%;
}
.circle {
    margin: 10% 0 10% 0;
    height: 150px; 
    width: 150px; 
    border-radius: 50%; 
    background-color: rgba(17, 36, 212, 0.705);
    display: inline-block;
    position: relative;
}
.circle-element-1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle-element-2 {
    width: 40%;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.great {
    margin: 0% 0 5% 0;
    font-size: 20px;
    font-weight: 550;
}

.message {
    padding: 0 15% 0 15%;
    
}

.element {
    color: white
}

.element.points {
    font-family:monospace;
    font-size: 50px;
    padding-bottom: 20px;
}
.container-child-2 {
    float: right;
    width: 50%;
    background-color: antiquewhite;
    border-radius: 10%;
    padding: 7% 7% 7% 7%;
}

.summary-element {
    background-color: green;
    width: 100%;
    border: 2px black solid;
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 4%;
}

.summary-element-child-1 {
    margin: 0.8rem 0.8rem;
    float: left;
}

.summary-element-child-2 {
    margin: 0.8rem 0.8rem;
    float: right;
}

